build/
downloads/
sstate-cache/
tmp/
.DS_Store
*.swp
*.swo
*~
__pycache__/
*.pyc
*.wic
*.wic.bz2
*.sdimg
*.raucb
kas/build/
slintui/openconsole/target/
kas/meta-openembedded/
kas/meta-raspberrypi/
kas/meta-rauc/
kas/meta-rust/
kas/poky/
kas/.config.yaml
